FORMAT: 1A
HOST: https://avwx.rest/api

# AVWX

The AVWX REST API is a publically-available, open-source REST API for aviation weather.

## Authentication

AVWX uses bearer tokens for user authentication. Create an account at [account.avwx.rest](https://account.avwx.rest) to generate your token and include it in your requests.

The API looks for tokens in two places:

- `"Authorization"` header. The token value can have any prefix (`"TOKEN abcde"`, `"BEARER abcde"`, etc) or just the token value itself
- `"?token=abcde"` URL parameter

The header value will supercede the URL parameter if both are found. All examples in the documentation use the header method.

Some features require paid plans to be associated with the supplied token. Feature availability is listed on the [Account Page](https://account.avwx.rest).

## Airport Codes

Airports and reporting stations can have four possible identifying codes assigned to them:

- ICAO: 4-letter code assigned by the International Civil Aviation Organization
- IATA: 3-letter code assigned by the International Air Transport Association
- GPS: 4-letter code used for in-flight GPS navigation
- Local: The 3 or 4-letter code by the regional governing authority

AVWX matches the airport to your supplied station code by: ICAO, IATA, then GPS. The local code is information only.

Most airports do not have an official ICAO or IATA code. If they do, it should always match the GPS code. Additionally, most stations have a GPS code, but not all. For example, weather buoys have an ICAO but no GPS.

## Flight Path Routing

This API can return results based on a given flight route. These points can be:

- ICAO station idents: KJFK, EGLL, PHNL
- IATA airport idents: MIA, LGA, HNL
- Navaids like VOR and NDB: ATL, ORL, PQ
- Lat,Lon coordinates: 30.35,-81.013

The flight path combines these elements with semicolons to look like:

`KLEX;ATL;30.2,-82.1;ORL;KMCO`

This path starts at Blue Grass Airport in Lexington, KY, down to the Atlanta VOR, a coordinate near Jacksonville, FL, the Orlando VOR, and ends at Orlando International Airport.

Unlike ICAO idents, navaid idents are not globally unique. AVWX determines the most likely coordinate pair based on the next known coordinate. If the final coordinate is still multiple choice, it will pick the two nearest ones and start backfilling. It is highly recommended to bookend each flight path with either ICAO idents or coordinate pairs, but VOR to VOR navigation will still work.

Because there are many overlaps between navaid and IATA codes and the navaids are more useful for flight routing purposes, IATA codes are deprioritized when calculating the flight path. It's recommended to use the airport's ICAO, GPS, or coordinate values if known.

Each routing response will include the resolved coordinates used for determining the flight path.

## aviowiki Airport Data

AVWX has partnered with [aviowiki](https://www.aviowiki.com) to provide a reliable, constantly verified source of airport informaion. If you've added the [aviowiki addon](https://account.avwx.rest/plans) to your account, you'll instantly start receiving this new vetted data. This will replace the open source - but sometimes out-of-date - information compiled from [OurAirports](https://ourairports.com) and other locations. If you are using AVWX for mission-critical applications, it is highly reccomended that you enable this addon.

The served data includes general airport information and all landing surfaces including runways, helipads, etc. For more information, check out [aviowiki's API Docs](https://www.aviowiki.com/docs/airports/authenticated-api-endpoints/airport-data/). Additional fields can be requested by contacting us.

```json
{
  "icao": "KLEX",
  "iata": "LEX",
  "faa": "LEX",
  "localIdentifier": "LEX",
  "name": "Blue Grass Airport",
  "servedCity": "Lexington, KY",
  "servedCityGoverningDistrict": {
    "code": "US-KY",
    "name": "Kentucky",
    "administrativeType": "State"
  },
  "administrativeCity": null,
  "administrativeCityGoverningDistrict": null,
  "elevation": 298.4,
  "coordinates": {
    "latitude": 38.03675,
    "longitude": -84.6086389
  },
  "variation": -4.0,
  "country": {
    "iso2": "US",
    "iso3": "USA",
    "isoNumeric": 840,
    "name": "United States",
    "officialName": "United States of America",
    "localIdentifierName": null
  },
  "timeZone": "America/New_York",
  "perimeter": null,
  "type": "AIRPORT",
  "operator": "PUBLIC",
  "accessibleFor": [
    "TRAINING",
    "HELICOPTER",
    "MILITARY",
    "GENERAL_AVIATION",
    "BUSINESS_AVIATION",
    "SCHEDULED",
    "NON_SCHEDULED"
  ],
  "ifr": null,
  "nonScheduledPermission": "NONE",
  "nonScheduledPermissionNotes": null,
  "mandatoryHandling": null,
  "mandatoryQualification": null,
  "qualificationLink": null,
  "qualificationNotes": null,
  "weightLimit": null,
  "wingspanLimit": null,
  "paxLimit": null,
  "referenceWeatherStation": null,
  "aid": "APT-D9FK-4BKT",
  "runways": [
    {
      "helipad": null,
      "identifier": "04",
      "magneticBearing": 46.0,
      "trueBearing": 42.0,
      "standardPattern": true,
      "thresholdElevation": 286.51,
      "width": 45.72,
      "tora": 2134.82,
      "toda": 2134.82,
      "asda": 2134.82,
      "lda": 2012.9,
      "surface": "ASPHALT",
      "pcnNumerical": 59,
      "pcnType": "F",
      "pcnStrength": "B",
      "pcnTirePressure": "W",
      "pcnMethod": "T",
      "edgeLights": true,
      "thresholdLights": null,
      "endLights": null,
      "centerLights": true,
      "centerLightsSpacing": null,
      "touchDownZoneLights": true,
      "visualApproachSlopeIndicator": "P4L",
      "approachLightConfiguration": "MALSR",
      "instrumental": true,
      "precision": true,
      "separate": null,
      "thresholdCoordinates": {
        "latitude": 38.0276904,
        "longitude": -84.6151088
      },
      "slope": null,
      "grooved": true,
      "parent": "APT-D9FK-4BKT",
      "aid": "RWY-I42U-U7GL"
    },
    ...
  ]
}
```

## Station [/station/{ident}{?format,remove,filter}]

Returns station information for an airfield or other location by ICAO ident. This is the same information provided when incluing the `info` option with weather requests.

+ Parameters
    + ident: `KJFK` (string) - ICAO & IATA station code
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Get Station Information [GET]

This example shows station information for JKF International in New York City.

+ Request

    + Headers
    
            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        {
            "city": "New York",
            "country": "US",
            "elevation_ft": 13,
            "elevation_m": 4,
            "gps": "KJFK",
            "iata": "JFK",
            "icao": "KJFK",
            "latitude": 40.63980103,
            "local": "JFK",
            "longitude": -73.77890015,
            "name": "John F Kennedy International Airport",
            "note": "Manhattan, New York City, NYC, Idlewild",
            "reporting": true,
            "runways": [
                {
                    "length_ft": 14572,
                    "width_ft": 150,
                    "ident1": "13R",
                    "ident2": "31L"
                },
                {
                    "length_ft": 11351,
                    "width_ft": 150,
                    "ident1": "04L",
                    "ident2": "22R"
                },
                {
                    "length_ft": 10000,
                    "width_ft": 150,
                    "ident1": "13L",
                    "ident2": "31R"
                },
                {
                    "length_ft": 8400,
                    "width_ft": 200,
                    "ident1": "04R",
                    "ident2": "22L"
                }
            ],
            "state": "NY",
            "type": "large_airport",
            "website": "http://www.panynj.gov/CommutingTravel/airports/html/kennedy.html",
            "wiki": "http://en.wikipedia.org/wiki/John_F._Kennedy_International_Airport"
        }

## Nearest Stations [/station/near/{coord}{?n,airport,reporting,format,remove,filter}]

Returns the nearest stations to a coordinate pair. By default, these are only reporting stations, but this can be disabled to return smaller airports with non-reporting AWOS/ASOS as well. This endpoint is available to free plans, but the `n` parameter is limitted to 10 while paid plans can go up to 200.

+ Parameters
    + coord: `28.1,-81` (string) - Coordinate pair
    + n: 3 (number, optional) - Number of stations to return
        + Default: 10
    + airport (boolean, optional) - Only include airports
        + Default: true
    + reporting (boolean, optional) - Only include reporting stations
        + Default: true
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Get Stations around a coordinate [GET]

This example returns reporting stations around Melbourne Beach, FL

+ Request

    + Headers
    
            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        [
            {
                "station": {
                    "city": "Melbourne",
                    "country": "US",
                    "elevation_ft": 33,
                    "elevation_m": 10,
                    "gps": "KMLB",
                    "iata": "MLB",
                    "icao": "KMLB",
                    "latitude": 28.102800369262695,
                    "local": "MLB",
                    "longitude": -80.64530181884766,
                    "name": "Melbourne International Airport",
                    "note": null,
                    "reporting": true,
                    "runways": [
                        {
                            "length_ft": 10181,
                            "width_ft": 150,
                            "ident1": "09R",
                            "ident2": "27L"
                        },
                        {
                            "length_ft": 6000,
                            "width_ft": 150,
                            "ident1": "09L",
                            "ident2": "27R"
                        },
                        {
                            "length_ft": 3001,
                            "width_ft": 75,
                            "ident1": "05",
                            "ident2": "23"
                        }
                    ],
                    "state": "FL",
                    "type": "medium_airport",
                    "website": null,
                    "wiki": "http://en.wikipedia.org/wiki/Melbourne_International_Airport"
                },
                "coordinate_distance": 0.35470923554481676,
                "nautical_miles": 18.786513433151878,
                "miles": 21.619133558889384,
                "kilometers": 34.79262287819728
            },
            {
                "station": {
                    "city": "Cocoa Beach",
                    "country": "US",
                    "elevation_ft": 8,
                    "elevation_m": 2,
                    "gps": "KCOF",
                    "iata": "COF",
                    "icao": "KCOF",
                    "latitude": 28.2348995209,
                    "local": "COF",
                    "longitude": -80.6100997925,
                    "name": "Patrick Air Force Base",
                    "note": "Naval Air Station Banana River",
                    "reporting": true,
                    "runways": [
                        {
                            "length_ft": 9023,
                            "width_ft": 200,
                            "ident1": "03",
                            "ident2": "21"
                        },
                        {
                            "length_ft": 4000,
                            "width_ft": 200,
                            "ident1": "11",
                            "ident2": "29"
                        }
                    ],
                    "state": "FL",
                    "type": "medium_airport",
                    "website": "http://www.patrick.af.mil/",
                    "wiki": "http://en.wikipedia.org/wiki/Patrick_Air_Force_Base"
                },
                "coordinate_distance": 0.41257732917308576,
                "nautical_miles": 22.16988896743564,
                "miles": 25.51265258868881,
                "kilometers": 41.05863436769081
            },
            {
                "station": {
                    "city": "Orlando",
                    "country": "US",
                    "elevation_ft": 96,
                    "elevation_m": 29,
                    "gps": "KMCO",
                    "iata": "MCO",
                    "icao": "KMCO",
                    "latitude": 28.429399490356445,
                    "local": "MCO",
                    "longitude": -81.30899810791016,
                    "name": "Orlando International Airport",
                    "note": "Disney World,Epcot Center",
                    "reporting": true,
                    "runways": [
                        {
                            "length_ft": 12005,
                            "width_ft": 200,
                            "ident1": "18L",
                            "ident2": "36R"
                        },
                        {
                            "length_ft": 12004,
                            "width_ft": 200,
                            "ident1": "18R",
                            "ident2": "36L"
                        },
                        {
                            "length_ft": 10000,
                            "width_ft": 150,
                            "ident1": "17R",
                            "ident2": "35L"
                        },
                        {
                            "length_ft": 9000,
                            "width_ft": 150,
                            "ident1": "17L",
                            "ident2": "35R"
                        }
                    ],
                    "state": "FL",
                    "type": "large_airport",
                    "website": "http://www.orlandoairports.net/",
                    "wiki": "http://en.wikipedia.org/wiki/Orlando_International_Airport"
                },
                "coordinate_distance": 0.4516457183890284,
                "nautical_miles": 25.654425899340257,
                "miles": 29.522586075803655,
                "kilometers": 47.51199676557816
            }
        ]

## Station Search [/search/station{?text,n,airport,reporting,format,remove,filter}]

Text search for stations by ICAO, IATA, name, city, and state. By default, these are only reporting stations, but this can be disabled to return smaller airports with non-reporting AWOS/ASOS as well.

+ Parameters
    + text: `lihue%20hi` (string) - Search text
    + n: 2 (number, optional) - Max results to return. Smaller numbers are more likely to not reach max
        + Default: 10
    + airport (boolean, optional) - Only include airports
        + Default: true
    + reporting (boolean, optional) - Only include reporting stations
        + Default: true
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Get stations via text search [GET]

This example returns reporting stations for "lihue hi"

+ Request

    + Headers
    
            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        [
            {
                "city": "Lihue",
                "country": "US",
                "elevation_ft": 153,
                "elevation_m": 47,
                "gps": "PHLI",
                "iata": "LIH",
                "icao": "PHLI",
                "latitude": 21.97599983215332,
                "local": "LIH",
                "longitude": -159.33900451660156,
                "name": "Lihue Airport",
                "note": null,
                "reporting": true,
                "runways": [
                    {
                        "length_ft": 6500,
                        "width_ft": 150,
                        "surface": "asphalt",
                        "lights": true,
                        "ident1": "03",
                        "ident2": "21",
                        "bearing1": 45.0,
                        "bearing2": 225.0
                    },
                    {
                        "length_ft": 6500,
                        "width_ft": 150,
                        "surface": "asphalt",
                        "lights": true,
                        "ident1": "17",
                        "ident2": "35",
                        "bearing1": 180.0,
                        "bearing2": 360.0
                    }
                ],
                "state": "HI",
                "type": "medium_airport",
                "website": null,
                "wiki": "https://en.wikipedia.org/wiki/Lihu'e_Airport"
            },
            {
                "city": "Honolulu",
                "country": "US",
                "elevation_ft": 13,
                "elevation_m": 4,
                "gps": "PHNL",
                "iata": "HNL",
                "icao": "PHNL",
                "latitude": 21.32062,
                "local": "HNL",
                "longitude": -157.924228,
                "name": "Daniel K Inouye International Airport",
                "note": "Hickam Air Force Base, HIK, PHIK, KHNL, Honolulu International",
                "reporting": true,
                "runways": [
                    {
                        "length_ft": 12300,
                        "width_ft": 150,
                        "surface": "asphalt",
                        "lights": false,
                        "ident1": "08L",
                        "ident2": "26R",
                        "bearing1": 90.0,
                        "bearing2": 270.0
                    },
                    {
                        "length_ft": 12000,
                        "width_ft": 200,
                        "surface": "asphalt",
                        "lights": false,
                        "ident1": "08R",
                        "ident2": "26L",
                        "bearing1": 90.0,
                        "bearing2": 270.0
                    },
                    {
                        "length_ft": 9000,
                        "width_ft": 150,
                        "surface": "asphalt",
                        "lights": false,
                        "ident1": "04R",
                        "ident2": "22L",
                        "bearing1": 53.0,
                        "bearing2": 233.0
                    },
                    {
                        "length_ft": 6952,
                        "width_ft": 150,
                        "surface": "asphalt",
                        "lights": false,
                        "ident1": "04L",
                        "ident2": "22R",
                        "bearing1": 53.0,
                        "bearing2": 233.0
                    },
                    {
                        "length_ft": 5000,
                        "width_ft": 300,
                        "surface": "water",
                        "lights": false,
                        "ident1": "08W",
                        "ident2": "26W",
                        "bearing1": 91.0,
                        "bearing2": 271.0
                    },
                    {
                        "length_ft": 3000,
                        "width_ft": 150,
                        "surface": "water",
                        "lights": false,
                        "ident1": "04W",
                        "ident2": "22W",
                        "bearing1": 51.0,
                        "bearing2": 231.0
                    }
                ],
                "state": "HI",
                "type": "large_airport",
                "website": "http://airports.hawaii.gov/hnl/",
                "wiki": "https://en.wikipedia.org/wiki/Daniel_K._Inouye_International_Airport"
            },
            {
                "city": "Kekaha",
                "country": "US",
                "elevation_ft": 23,
                "elevation_m": 7,
                "gps": "PHBK",
                "iata": "BKH",
                "icao": "PHBK",
                "latitude": 22.022800445599998,
                "local": "BKH",
                "longitude": -159.785003662,
                "name": "Barking Sands Airport",
                "note": "Pacific Missle Range Facility Barking Sands, Kauai",
                "reporting": true,
                "runways": [
                    {
                        "length_ft": 6006,
                        "width_ft": 146,
                        "surface": "asphalt",
                        "lights": true,
                        "ident1": "16",
                        "ident2": "34",
                        "bearing1": 170.0,
                        "bearing2": 350.0
                    }
                ],
                "state": "HI",
                "type": "medium_airport",
                "website": null,
                "wiki": "https://en.wikipedia.org/wiki/Pacific_Missile_Range_Facility"
            }
        ]

## Station Routing [/path/station{?route,distance,format,remove,filter}]

Find reporting stations along a flight path. See notes on routing above.

+ Parameters
    + route: `KMCO;ORL;KDAB` (string) - Flight route with ICAO, navaid, and coordinate components
    + distance: 5 (number) - Distance in statue miles from route centerline
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Get stations along a flight path [GET]

This example returns reporting stations along a flight path from Orlando to Daytona Beach, FL.

+ Request

    + Headers
    
            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2021-04-01T17:42:48.831526Z",
                "stations_updated": "2021-03-26"
            },
            "route": [
                {
                    "lat": 28.429399490356445,
                    "lon":-81.30899810791016,
                    "repr": "KMCO"
                },
                {
                    "lat": 28.542699813842773,
                    "lon": -81.33499908447266,
                    "repr": "ORL"
                },
                {
                    "lat": 29.179899,
                    "lon": -81.058098,
                    "repr": "KDAB"
                }
            ],
            "results": [
                {
                    "city": "Orlando",
                    "country": "US",
                    "elevation_ft": 113,
                    "elevation_m": 34,
                    "gps": "KORL",
                    "iata": "ORL",
                    "icao": "KORL",
                    "latitude": 28.5455,
                    "local": "ORL",
                    "longitude": -81.332901,
                    "name": "Orlando Executive Airport",
                    "note": "Herndon Airport, Orlando Executive Airport, KORL, ORL, Orlando Municipal Airport, Orlando Army Air Base, Orlando Air Force Base, Naval Training Center Orlando",
                    "reporting": true,
                    "runways": [
                        {
                            "length_ft": 6003,
                            "width_ft": 150,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "07",
                            "ident2": "25",
                            "bearing1": 67.0,
                            "bearing2": 247.0
                        },
                        {
                            "length_ft": 4638,
                            "width_ft": 100,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "13",
                            "ident2": "31",
                            "bearing1": 130.8,
                            "bearing2": 310.8
                        }
                    ],
                    "state": "FL",
                    "type": "small_airport",
                    "website": null,
                    "wiki": "https://en.wikipedia.org/wiki/Orlando_Executive_Airport"
                },
                {
                    "city": "Orlando",
                    "country": "US",
                    "elevation_ft": 96,
                    "elevation_m": 29,
                    "gps": "KMCO",
                    "iata": "MCO",
                    "icao": "KMCO",
                    "latitude": 28.429399490356445,
                    "local": "MCO",
                    "longitude": -81.30899810791016,
                    "name": "Orlando International Airport",
                    "note": "Disney World,Epcot Center",
                    "reporting": true,
                    "runways": [
                        {
                            "length_ft": 12005,
                            "width_ft": 200,
                            "surface": "concrete",
                            "lights": true,
                            "ident1": "18L",
                            "ident2": "36R",
                            "bearing1": 179.0,
                            "bearing2": 359.0
                        },
                        {
                            "length_ft": 12004,
                            "width_ft": 200,
                            "surface": "concrete",
                            "lights": true,
                            "ident1": "18R",
                            "ident2": "36L",
                            "bearing1": 179.0,
                            "bearing2": 359.0
                        },
                        {
                            "length_ft": 10000,
                            "width_ft": 150,
                            "surface": "concrete",
                            "lights": true,
                            "ident1": "17R",
                            "ident2": "35L",
                            "bearing1": 179.0,
                            "bearing2": 359.0
                        },
                        {
                            "length_ft": 9000,
                            "width_ft": 150,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "17L",
                            "ident2": "35R",
                            "bearing1": 179.5,
                            "bearing2": 359.5
                        }
                    ],
                    "state": "FL",
                    "type": "large_airport",
                    "website": "http://www.orlandoairports.net/",
                    "wiki": "https://en.wikipedia.org/wiki/Orlando_International_Airport"
                },
                {
                    "city": "Orlando",
                    "country": "US",
                    "elevation_ft": 55,
                    "elevation_m": 17,
                    "gps": "KSFB",
                    "iata": "SFB",
                    "icao": "KSFB",
                    "latitude": 28.777599334716797,
                    "local": "SFB",
                    "longitude": -81.23750305175781,
                    "name": "Orlando Sanford International Airport",
                    "note": null,
                    "reporting": true,
                    "runways": [
                        {
                            "length_ft": 9600,
                            "width_ft": 150,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "09L",
                            "ident2": "27R",
                            "bearing1": 90.0,
                            "bearing2": 270.0
                        },
                        {
                            "length_ft": 6003,
                            "width_ft": 150,
                            "surface": "concrete",
                            "lights": true,
                            "ident1": "18",
                            "ident2": "36",
                            "bearing1": 180.0,
                            "bearing2": 360.0
                        },
                        {
                            "length_ft": 3578,
                            "width_ft": 75,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "09C",
                            "ident2": "27C",
                            "bearing1": 90.0,
                            "bearing2": 270.0
                        },
                        {
                            "length_ft": 3500,
                            "width_ft": 75,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "09R",
                            "ident2": "27L",
                            "bearing1": 89.9,
                            "bearing2": 269.9
                        }
                    ],
                    "state": "FL",
                    "type": "large_airport",
                    "website": null,
                    "wiki": "https://en.wikipedia.org/wiki/Orlando_Sanford_International_Airport"
                },
                {
                    "city": "Daytona Beach",
                    "country": "US",
                    "elevation_ft": 34,
                    "elevation_m": 10,
                    "gps": "KDAB",
                    "iata": "DAB",
                    "icao": "KDAB",
                    "latitude": 29.179899,
                    "local": "DAB",
                    "longitude": -81.058098,
                    "name": "Daytona Beach International Airport",
                    "note": null,
                    "reporting": true,
                    "runways": [
                        {
                            "length_ft": 10500,
                            "width_ft": 150,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "07L",
                            "ident2": "25R",
                            "bearing1": 65.0,
                            "bearing2": 245.0
                        },
                        {
                            "length_ft": 6001,
                            "width_ft": 150,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "16",
                            "ident2": "34",
                            "bearing1": 157.0,
                            "bearing2": 337.0
                        },
                        {
                            "length_ft": 3195,
                            "width_ft": 100,
                            "surface": "asphalt",
                            "lights": true,
                            "ident1": "07R",
                            "ident2": "25L",
                            "bearing1": 65.0,
                            "bearing2": 245.0
                        }
                    ],
                    "state": "FL",
                    "type": "large_airport",
                    "website": null,
                    "wiki": "https://en.wikipedia.org/wiki/Daytona_Beach_International_Airport"
                }
            ]
        }

## METAR [/metar/{location}{?options,airport,reporting,format,remove,filter,onfail}]

METAR reports are surface observations for a particular airfield or other station location. There are two standard formats: International and North American. The parser works with both, but it is up to the developer to do the correct interpretation of the data. Use the 'Units' key for labling and conversions.

Field notes:

- Relative humidity is a percentage coded as 0 to 1
- Pressure and density altitude of the airport are always returned in feet to match with cloud layers. You may want to convert into meters when displaying to your users

+ Parameters
    + location: `KJFK` (string) - ICAO & IATA station code or coordinate pair
        + Examples: `EGLL`, `51.47,-0.4`
    + options (string, optional) - Additional options to include as comma-separated string
        + Supported: `info`, `translate`, `summary`, `speech`
        + Example: `info,speech`
    + airport (boolean, optional) - Only include airports when performing a coordinate search
        + Default: true
    + reporting (boolean, optional) - Only include reporting stations when performing a coordinate search
        + Default: true
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`
    + onfail (string, optional) - Error, use out-of-date cache, or check nearest station when unable to fetch report
        + Supported: `cache`, `error`, `nearest`
        + Default: `cache`

### Get METAR Report [GET]

Get the METAR for a specific station by ICAO & IATA station code or a lat,lon coordinate pair. The API will return the station nearest to those coordinates. Include `info` in the options to get details about the selected station.

+ Request

    + Headers
    
            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2020-04-03T16:50:17.558193+00:00Z"
            },
            "altimeter": {
                "repr": "A2966",
                "value": 29.66,
                "spoken": "two nine point six six"
            },
            "clouds": [
                {
                    "repr": "FEW024",
                    "type": "FEW",
                    "altitude": 24,
                    "modifier": null,
                    "direction": null
                },
                {
                    "repr": "BKN036",
                    "type": "BKN",
                    "altitude": 36,
                    "modifier": null,
                    "direction": null
                },
                {
                    "repr": "OVC046",
                    "type": "OVC",
                    "altitude": 46,
                    "modifier": null,
                    "direction": null
                }
            ],
            "flight_rules": "VFR",
            "other": [],
            "sanitized": "KJFK 031551Z 35021G29KT 10SM -RA FEW024 BKN036 OVC046 10/07 A2966 RMK AO2 PK WND 36029/1550 RAB10 SLP042 P0000 T01000067",
            "visibility": {
                "repr": "10",
                "value": 10,
                "spoken": "one zero"
            },
            "wind_direction": {
                "repr": "350",
                "value": 350,
                "spoken": "three five zero"
            },
            "wind_gust": {
                "repr": "29",
                "value": 29,
                "spoken": "two nine"
            },
            "wind_speed": {
                "repr": "21",
                "value": 21,
                "spoken": "two one"
            },
            "wx_codes": [
                {
                    "repr": "-RA",
                    "value": "Light Rain"
                }
            ],
            "raw": "KJFK 031551Z 35021G29KT 10SM -RA FEW024 BKN036 OVC046 10/07 A2966 RMK AO2 PK WND 36029/1550 RAB10 SLP042 P0000 T01000067",
            "station": "KJFK",
            "time": {
                "repr": "031551Z",
                "dt": "2020-04-03T15:51:00+00:00Z"
            },
            "remarks": "RMK AO2 PK WND 36029/1550 RAB10 SLP042 P0000 T01000067",
            "dewpoint": {
                "repr": "07",
                "value": 7,
                "spoken": "seven"
            },
            "relative_humidity": 0.7994238789303805,
            "remarks_info": {
                "maximum_temperature_6": null,
                "minimum_temperature_6": null,
                "pressure_tendency": null,
                "precip_36_hours": null,
                "precip_24_hours": null,
                "sunshine_minutes": null,
                "codes": [
                    {
                        "repr": "AO2",
                        "value": "Automated with precipitation sensor"
                    },
                    {
                        "repr": "P0000",
                        "value": "Trace amount of rain in the last hour"
                    },
                    {
                        "repr": "RAB10",
                        "value": "Rain began at :10"
                    }
                ],
                "dewpoint_decimal": {
                    "repr": "0067",
                    "value": 6.7,
                    "spoken": "six point seven"
                },
                "maximum_temperature_24": null,
                "minimum_temperature_24": null,
                "precip_hourly": null,
                "sea_level_pressure": {
                    "repr": "SLP042",
                    "value": 1004.2,
                    "spoken": "one zero zero four point two"
                },
                "snow_depth": null,
                "temperature_decimal": {
                    "repr": "0100",
                    "value": 10.0,
                    "spoken": "one zero point zero"
                }
            },
            "runway_visibility": [],
            "temperature": {
                "repr": "10",
                "value": 10,
                "spoken": "one zero"
            },
            "wind_variable_direction": [],
            "density_altitude": -324,
            "pressure_altitude": 273,
            "units": {
                "accumulation": "in",
                "altimeter": "inHg",
                "altitude": "ft",
                "temperature": "C",
                "visibility": "sm",
                "wind_speed": "kt"
            }
        }

## Parse METAR [/parse/metar{?options,format,remove,filter}]

Parses a METAR report supplied by the user.

+ Parameters

    + options: `translate` (string, optional) - Additional options to include as comma-separated string
        + Supported: `info`, `translate`, `summary`, `speech`
        + Example: `info,speech`
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Parse a Given METAR [POST]

Parse a user-supplied METAR included as the plain text body of the request. Note that the parsed timestamp may differ from the actual release date of the given report depending on how old the report is. AVWX does it's best to provide a full timestamp even though METARs don't include the year and month.

+ Request (text/plain)

    + Headers
    
            Authorization: Token my_secret_api_token

    + Body

            PHKO 181753Z 28004KT 6SM HZ SCT022 27/21 A3005 RMK AO2 SLP178 T02670206 10267 20239 53009

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2020-04-03T18:36:34.255787+00:00Z"
            },
            "altimeter": {
                "repr": "A3005",
                "value": 30.05,
                "spoken": "three zero point zero five"
            },
            "clouds": [
                {
                    "repr": "SCT022",
                    "type": "SCT",
                    "altitude": 22,
                    "modifier": null,
                    "direction": null
                }
            ],
            "flight_rules": "VFR",
            "other": [],
            "sanitized": "PHKO 181753Z 28004KT 6SM HZ SCT022 27/21 A3005 RMK AO2 SLP178 T02670206 10267 20239 53009",
            "visibility": {
                "repr": "6",
                "value": 6,
                "spoken": "six"
            },
            "wind_direction": {
                "repr": "280",
                "value": 280,
                "spoken": "two eight zero"
            },
            "wind_gust": null,
            "wind_speed": {
                "repr": "04",
                "value": 4,
                "spoken": "four"
            },
            "wx_codes": [
                {
                    "repr": "HZ",
                    "value": "Haze"
                }
            ],
            "raw": "PHKO 181753Z 28004KT 6SM HZ SCT022 27/21 A3005 RMK AO2 SLP178 T02670206 10267 20239 53009",
            "station": "PHKO",
            "time": {
                "repr": "181753Z",
                "dt": "2020-03-18T17:53:00+00:00Z"
            },
            "remarks": "RMK AO2 SLP178 T02670206 10267 20239 53009",
            "dewpoint": {
                "repr": "21",
                "value": 21,
                "spoken": "two one"
            },
            "relative_humidity": 0.6922556897462213,
            "remarks_info": {
                "maximum_temperature_6": {
                    "repr": "10267",
                    "value": 26.7,
                    "spoken": "two six point seven"
                },
                "minimum_temperature_6": {
                    "repr": "20239",
                    "value": 23.9,
                    "spoken": "two three point nine"
                },
                "pressure_tendency": {
                    "repr": "53009",
                    "tendency": "Decreasing or steady, then increasing",
                    "change": 0.9
                },
                "precip_36_hours": null,
                "precip_24_hours": null,
                "sunshine_minutes": null,
                "codes": [
                {
                    "repr": "AO2",
                    "value": "Automated with precipitation sensor"
                }
                ],
                "dewpoint_decimal": {
                    "repr": "0206",
                    "value": 20.6,
                    "spoken": "two zero point six"
                },
                "maximum_temperature_24": null,
                "minimum_temperature_24": null,
                "precip_hourly": null,
                "sea_level_pressure": {
                    "repr": "SLP178",
                    "value": 1017.8,
                    "spoken": "one zero one seven point eight"
                },
                "snow_depth": null,
                "temperature_decimal": {
                    "repr": "0267",
                    "value": 26.7,
                    "spoken": "two six point seven"
                }
            },
            "runway_visibility": [],
            "temperature": {
                "repr": "27",
                "value": 27,
                "spoken": "two seven"
            },
            "wind_variable_direction": [],
            "density_altitude": 1332,
            "pressure_altitude": -83,
            "translations": {
                "altimeter": "30.05 inHg (1018 hPa)",
                "clouds": "Scattered clouds at 2200ft - Reported AGL",
                "wx_codes": "Haze",
                "visibility": "6sm (9.7km)",
                "dewpoint": "21°C (70°F)",
                "remarks": {
                    "AO2": "Automated with precipitation sensor",
                    "SLP178": "Sea level pressure: 1017.8 hPa",
                    "T02670206": "Temperature 26.7°C and dewpoint 20.6°C",
                    "10267": "6-hour maximum temperature 26.7°C",
                    "20239": "6-hour minimum temperature 23.9°C",
                    "53009": "3-hour pressure difference: +/- 0.9 mb - Decreasing or steady, then increasing"
                },
                "temperature": "27°C (81°F)",
                "wind": "W-280 at 4kt"
            }
        }

## TAF [/taf/{location}{?options,airport,reporting,format,remove,filter,onfail}]

TAF reports are atmospheric conditions for an area within five nautical miles of a particular airfield or other station location. Unlike METAR which only has two standard formats, TAF reports vary considderably more based on their geography. For example, Oceania TAF reports include two unique keys: Temp-List and Alt-List.

+ Parameters
    + location: `KJFK` (string) - ICAO & IATA station code or coordinate pair
        + Examples: `EGLL`, `51.47,-0.4`
    + options: `summary` (string, optional) - Additional options to include as comma-separated string
        + Supported: `info`, `translate`, `summary`, `speech`
        + Example: `info,speech`
    + airport (boolean, optional) - Only include airports when performing a coordinate search
        + Default: true
    + reporting (boolean, optional) - Only include reporting stations when performing a coordinate search
        + Default: true
    + format (string, optional) - Desired response format
        + supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`
    + onfail (string, optional) - Error, use out-of-date cache, or check nearest station when unable to fetch report
        + Supported: `cache`, `error`, `nearest`
        + Default: `cache`

### Get TAF Report [GET]

Get the TAF for a specific station by ICAO & IATA station code or a lat,lon coordinate pair. The API will return the station nearest to those coordinates. Include `info` in the options to get details about the selected station.

+ Request

    + Headers
    
            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2020-04-03T18:52:16.840897+00:00Z"
            },
            "raw": "KJFK 031720Z 0318/0424 34017G26KT P6SM -RA OVC025 FM032100 35016G25KT P6SM OVC025 FM040000 01014G19KT P6SM OVC025 FM041500 03011KT P6SM BKN035 FM041900 05007KT P6SM BKN035 FM042000 08006KT P6SM BKN035 FM042200 11006KT P6SM BKN035",
            "station": "KJFK",
            "time": {
                "repr": "031720Z",
                "dt": "2020-04-03T17:20:00+00:00Z"
            },
            "remarks": "",
            "forecast": [
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "OVC025",
                            "type": "OVC",
                            "altitude": 25,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "MVFR",
                    "other": [],
                    "sanitized": "0318/0424 34017G26KT P6SM -RA OVC025",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "340",
                        "value": 340,
                        "spoken": "three four zero"
                    },
                    "wind_gust": {
                        "repr": "26",
                        "value": 26,
                        "spoken": "two six"
                    },
                    "wind_speed": {
                        "repr": "17",
                        "value": 17,
                        "spoken": "one seven"
                    },
                    "wx_codes": [
                        {
                            "repr": "-RA",
                            "value": "Light Rain"
                        }
                    ],
                    "end_time": {
                        "repr": "0321",
                        "dt": "2020-04-03T21:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "0318/0424 34017G26KT P6SM -RA OVC025",
                    "start_time": {
                        "repr": "0318",
                        "dt": "2020-04-03T18:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null,
                    "summary": "Winds NNW-340 at 17kt gusting to 26kt, Vis greater than 6sm, Light Rain, Overcast layer at 2500ft"
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "OVC025",
                            "type": "OVC",
                            "altitude": 25,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "MVFR",
                    "other": [],
                    "sanitized": "FM032100 35016G25KT P6SM OVC025",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "350",
                        "value": 350,
                        "spoken": "three five zero"
                    },
                    "wind_gust": {
                        "repr": "25",
                        "value": 25,
                        "spoken": "two five"
                    },
                    "wind_speed": {
                        "repr": "16",
                        "value": 16,
                        "spoken": "one six"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "0400",
                        "dt": "2020-04-04T00:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM032100 35016G25KT P6SM OVC025",
                    "start_time": {
                        "repr": "0321",
                        "dt": "2020-04-03T21:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null,
                    "summary": "Winds N-350 at 16kt gusting to 25kt, Vis greater than 6sm, Overcast layer at 2500ft"
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "OVC025",
                            "type": "OVC",
                            "altitude": 25,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "MVFR",
                    "other": [],
                    "sanitized": "FM040000 01014G19KT P6SM OVC025",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "010",
                        "value": 10,
                        "spoken": "zero one zero"
                    },
                    "wind_gust": {
                        "repr": "19",
                        "value": 19,
                        "spoken": "one nine"
                    },
                    "wind_speed": {
                        "repr": "14",
                        "value": 14,
                        "spoken": "one four"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "0415",
                        "dt": "2020-04-04T15:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM040000 01014G19KT P6SM OVC025",
                    "start_time": {
                        "repr": "0400",
                        "dt": "2020-04-04T00:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null,
                    "summary": "Winds N-010 at 14kt gusting to 19kt, Vis greater than 6sm, Overcast layer at 2500ft"
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "BKN035",
                            "type": "BKN",
                            "altitude": 35,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "FM041500 03011KT P6SM BKN035",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "030",
                        "value": 30,
                        "spoken": "zero three zero"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "11",
                        "value": 11,
                        "spoken": "one one"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "0419",
                        "dt": "2020-04-04T19:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM041500 03011KT P6SM BKN035",
                    "start_time": {
                        "repr": "0415",
                        "dt": "2020-04-04T15:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null,
                    "summary": "Winds NNE-030 at 11kt, Vis greater than 6sm, Broken layer at 3500ft"
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "BKN035",
                            "type": "BKN",
                            "altitude": 35,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "FM041900 05007KT P6SM BKN035",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "050",
                        "value": 50,
                        "spoken": "zero five zero"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "07",
                        "value": 7,
                        "spoken": "seven"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "0420",
                        "dt": "2020-04-04T20:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM041900 05007KT P6SM BKN035",
                    "start_time": {
                        "repr": "0419",
                        "dt": "2020-04-04T19:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null,
                    "summary": "Winds NE-050 at 7kt, Vis greater than 6sm, Broken layer at 3500ft"
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "BKN035",
                            "type": "BKN",
                            "altitude": 35,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "FM042000 08006KT P6SM BKN035",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "080",
                        "value": 80,
                        "spoken": "zero eight zero"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "06",
                        "value": 6,
                        "spoken": "six"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "0422",
                        "dt": "2020-04-04T22:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM042000 08006KT P6SM BKN035",
                    "start_time": {
                        "repr": "0420",
                        "dt": "2020-04-04T20:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null,
                    "summary": "Winds E-080 at 6kt, Vis greater than 6sm, Broken layer at 3500ft"
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "BKN035",
                            "type": "BKN",
                            "altitude": 35,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "FM042200 11006KT P6SM BKN035",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "110",
                        "value": 110,
                        "spoken": "one one zero"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "06",
                        "value": 6,
                        "spoken": "six"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "0424",
                        "dt": "2020-04-04T00:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM042200 11006KT P6SM BKN035",
                    "start_time": {
                        "repr": "0422",
                        "dt": "2020-04-04T22:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null,
                    "summary": "Winds ESE-110 at 6kt, Vis greater than 6sm, Broken layer at 3500ft"
                }
            ],
            "start_time": {
                "repr": "0318",
                "dt": "2020-04-03T18:00:00+00:00Z"
            },
            "end_time": {
                "repr": "0424",
                "dt": "2020-04-04T00:00:00+00:00Z"
            },
            "max_temp": "",
            "min_temp": "",
            "alts": null,
            "temps": null,
            "units": {
                "altimeter": "inHg",
                "altitude": "ft",
                "temperature": "C",
                "visibility": "sm",
                "wind_speed": "kt"
            }
        }

## Parse TAF [/parse/taf{?options,format,remove,filter}]

Parses a TAF report supplied by the user.

+ Parameters

    + options: `translate` (string, optional) - Additional options to include as comma-separated string
        + Supported: `info`, `translate`, `summary`, `speech`
        + Example: `info,speech`
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Parse a Given TAF [POST]

Parse a user-supplied TAF included as the plain text body of the request. Note that the parsed timestamp may differ from the actual release date of the given report depending on how old the report is. AVWX does it's best to provide a full timestamp even though TAFs don't include the year and month.

+ Request (text/plain)

    + Headers
    
            Authorization: Token my_secret_api_token

    + Body

            PHKO 181735Z 1818/1918 VRB03KT P6SM FEW035 FM182000 20010KT P6SM FEW030 SCT060 FM190400 10007KT P6SM FEW030 BKN050 FM191200 VRB03KT P6SM SCT030

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2020-04-03T19:08:08.406217+00:00Z"
            },
            "raw": "PHKO 181735Z 1818/1918 VRB03KT P6SM FEW035 FM182000 20010KT P6SM FEW030 SCT060 FM190400 10007KT P6SM FEW030 BKN050 FM191200 VRB03KT P6SM SCT030",
            "station": "PHKO",
            "time": {
                "repr": "181735Z",
                "dt": "2020-03-18T17:35:00+00:00Z"
            },
            "remarks": "",
            "forecast": [
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "FEW035",
                            "type": "FEW",
                            "altitude": 35,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "1818/1918 VRB03KT P6SM FEW035",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "VRB",
                        "value": null,
                        "spoken": "variable"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "03",
                        "value": 3,
                        "spoken": "three"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "1820",
                        "dt": "2020-03-18T20:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "1818/1918 VRB03KT P6SM FEW035",
                    "start_time": {
                        "repr": "1818",
                        "dt": "2020-03-18T18:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "FEW030",
                            "type": "FEW",
                            "altitude": 30,
                            "modifier": null,
                            "direction": null
                        },
                        {
                            "repr": "SCT060",
                            "type": "SCT",
                            "altitude": 60,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "FM182000 20010KT P6SM FEW030 SCT060",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "200",
                        "value": 200,
                        "spoken": "two zero zero"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "10",
                        "value": 10,
                        "spoken": "one zero"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "1904",
                        "dt": "2020-03-19T04:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM182000 20010KT P6SM FEW030 SCT060",
                    "start_time": {
                        "repr": "1820",
                        "dt": "2020-03-18T20:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "FEW030",
                            "type": "FEW",
                            "altitude": 30,
                            "modifier": null,
                            "direction": null
                        },
                        {
                            "repr": "BKN050",
                            "type": "BKN",
                            "altitude": 50,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "FM190400 10007KT P6SM FEW030 BKN050",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "100",
                        "value": 100,
                        "spoken": "one zero zero"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "07",
                        "value": 7,
                        "spoken": "seven"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "1912",
                        "dt": "2020-03-19T12:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM190400 10007KT P6SM FEW030 BKN050",
                    "start_time": {
                        "repr": "1904",
                        "dt": "2020-03-19T04:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null
                },
                {
                    "altimeter": "",
                    "clouds": [
                        {
                            "repr": "SCT030",
                            "type": "SCT",
                            "altitude": 30,
                            "modifier": null,
                            "direction": null
                        }
                    ],
                    "flight_rules": "VFR",
                    "other": [],
                    "sanitized": "FM191200 VRB03KT P6SM SCT030",
                    "visibility": {
                        "repr": "P6",
                        "value": null,
                        "spoken": "greater than six"
                    },
                    "wind_direction": {
                        "repr": "VRB",
                        "value": null,
                        "spoken": "variable"
                    },
                    "wind_gust": null,
                    "wind_speed": {
                        "repr": "03",
                        "value": 3,
                        "spoken": "three"
                    },
                    "wx_codes": [],
                    "end_time": {
                        "repr": "1918",
                        "dt": "2020-03-19T18:00:00+00:00Z"
                    },
                    "icing": [],
                    "probability": null,
                    "raw": "FM191200 VRB03KT P6SM SCT030",
                    "start_time": {
                        "repr": "1912",
                        "dt": "2020-03-19T12:00:00+00:00Z"
                    },
                    "turbulence": [],
                    "type": "FROM",
                    "wind_shear": null
                }
            ],
            "start_time": {
                "repr": "1818",
                "dt": "2020-03-18T18:00:00+00:00Z"
            },
            "end_time": {
                "repr": "1918",
                "dt": "2020-03-19T18:00:00+00:00Z"
            },
            "max_temp": "",
            "min_temp": "",
            "alts": null,
            "temps": null,
            "translations": {
                "forecast": [
                    {
                        "altimeter": "",
                        "clouds": "Few clouds at 3500ft - Reported AGL",
                        "wx_codes": "",
                        "visibility": "Greater than 6sm ( >10km )",
                        "icing": "",
                        "turbulence": "",
                        "wind": "Variable at 3kt",
                        "wind_shear": ""
                    },
                    {
                        "altimeter": "",
                        "clouds": "Few clouds at 3000ft, Scattered clouds at 6000ft - Reported AGL",
                        "wx_codes": "",
                        "visibility": "Greater than 6sm ( >10km )",
                        "icing": "",
                        "turbulence": "",
                        "wind": "SSW-200 at 10kt",
                        "wind_shear": ""
                    },
                    {
                        "altimeter": "",
                        "clouds": "Few clouds at 3000ft, Broken layer at 5000ft - Reported AGL",
                        "wx_codes": "",
                        "visibility": "Greater than 6sm ( >10km )",
                        "icing": "",
                        "turbulence": "",
                        "wind": "E-100 at 7kt",
                        "wind_shear": ""
                    },
                    {
                        "altimeter": "",
                        "clouds": "Scattered clouds at 3000ft - Reported AGL",
                        "wx_codes": "",
                        "visibility": "Greater than 6sm ( >10km )",
                        "icing": "",
                        "turbulence": "",
                        "wind": "Variable at 3kt",
                        "wind_shear": ""
                    }
                ],
                "max_temp": "",
                "min_temp": "",
                "remarks": {}
            }
        }

## PIREP [/pirep/{location}{?options,format,remove,filter,onfail}]

A PIREP (Pilot Report) is an observation made by pilots inflight meant to aid controllers and pilots routing around adverse conditions and other conditions of note. They typically contain icing, turbulance, cloud types/bases/tops, and other info at a known distance and radial from a ground station. They are released as they come in.


Note: translate, summary, and speech options not yet available

+ Parameters
    + location: `KMCO` (string) - ICAO & IATA station code or coordinate pair
        + Examples: `EGLL`, `51.47,-0.4`
    + options: `info` (string, optional) - Additional options to include as comma-separated string
        + Supported: `info`
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`
    + onfail (string, optional) - Error, use out-of-date cache, or check nearest station when unable to fetch report
        + Supported: `cache`, `error`, `nearest`
        + Default: `cache`

### Get PIREP Reports [GET]

Get PIREPs within 200 miles of a specific station by ICAO & IATA station code or a lat,lon coordinate pair.

+ Request (text/plain)

    + Headers

            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2019-05-27T21:46:53.248533Z",
                "cache-timestamp": "2019-05-27T21:46:55.201833Z"
            },
            "data": [
                {
                    "raw": "OCF UA /OV OCF/TM 2103/FL110/TP GLF5/TB MOD",
                    "station": "OCF",
                    "time": {
                        "repr": "2103",
                        "dt": "2019-05-27T21:03:00Z"
                    },
                    "remarks": null,
                    "aircraft": {
                        "code": "GLF5",
                        "type": "Gulfstream V"
                    },
                    "altitude": {
                        "repr": "110",
                        "value": 110,
                        "spoken": "one one zero"
                    },
                    "clouds": null,
                    "flight_visibility": null,
                    "icing": null,
                    "location": {
                        "repr": "OCF",
                        "station": "OCF",
                        "distance": null
                    },
                    "other": [],
                    "sanitized": "OCF UA /OV OCF/TM 2103/FL110/TP GLF5/TB MOD",
                    "temperature": null,
                    "turbulance": {
                        "severity": "MOD",
                        "floor": null,
                        "ceiling": null
                    },
                    "type": "UA",
                    "wx_codes": []
                },
                {
                    "raw": "OCF UA /OV OCF125020/TM 2035/FL110/TP B738/TB CONT MOD CHOP/RM DURD",
                    "station": "OCF",
                    "time": {
                        "repr": "2035",
                        "dt": "2019-05-27T20:35:00Z"
                    },
                    "remarks": "DURD",
                    "aircraft": {
                        "code": "B738",
                        "type": "Boeing 737-800"
                    },
                    "altitude": {
                        "repr": "110",
                        "value": 110,
                        "spoken": "one one zero"
                    },
                    "clouds": null,
                    "flight_visibility": null,
                    "icing": null,
                    "location": {
                        "repr": "OCF125020",
                        "station": "OCF",
                        "distance": {
                            "repr": "020",
                            "value": 20,
                            "spoken": "two zero"
                        }
                    },
                    "other": [],
                    "sanitized": "OCF UA /OV OCF125020/TM 2035/FL110/TP B738/TB CONT MOD CHOP",
                    "temperature": null,
                    "turbulance": {
                        "severity": "CONT MOD CHOP",
                        "floor": null,
                        "ceiling": null
                    },
                    "type": "UA",
                    "wx_codes": []
                },
                {
                    "raw": "MCO UA /OV LEESE/TM 2030/FL120/TP B737/TB CONT MOD",
                    "station": "MCO",
                    "time": {
                        "repr": "2030",
                        "dt": "2019-05-27T20:30:00Z"
                    },
                    "remarks": null,
                    "aircraft": {
                        "code": "B737",
                        "type": "Boeing 737-700"
                    },
                    "altitude": {
                        "repr": "120",
                        "value": 120,
                        "spoken": "one two zero"
                    },
                    "clouds": null,
                    "flight_visibility": null,
                    "icing": null,
                    "location": {
                        "repr": "LEESE",
                        "station": null,
                        "distance": null
                    },
                    "other": [],
                    "sanitized": "MCO UA /OV LEESE/TM 2030/FL120/TP B737/TB CONT MOD",
                    "temperature": null,
                    "turbulance": {
                        "severity": "CONT MOD",
                        "floor": null,
                        "ceiling": null
                    },
                    "type": "UA",
                    "wx_codes": []
                }
            ],
            "units": {
                "altimeter": "inHg",
                "altitude": "ft",
                "temperature": "C",
                "visibility": "sm",
                "wind_speed": "kt"
            },
            "timestamp": "2019-05-27T21:46:55.201833Z"
        }

## Parse PIREP [/parse/pirep{?options,format,remove,filter}]

Parses a PIREP report supplied by the user.

Note: translate, summary, and speech options not yet available

+ Parameters

    + options: `info` (string, optional) - Additional options to include as comma-separated string
        + Supported: `info`
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Parse a Given PIREP [POST]

Parse a user-supplied PIREP included as the plain text body of the request.

+ Request (text/plain)

    + Headers

            Authorization: Token my_secret_api_token

    + Body

            IMM UA /OV 2IS/TM 2258/FL055/TP P28A/TB NEG BLO 055/RM DURC

+ Response 200 (application/json)

        {
            "raw": "IMM UA /OV 2IS/TM 2258/FL055/TP P28A/TB NEG BLO 055/RM DURC",
            "station": "IMM",
            "time": {
                "repr": "2258",
                "dt": "2019-05-27T22:58:00Z"
            },
            "remarks": "DURC",
            "aircraft": {
                "code": "P28A",
                "type": "Piper PA-28 (up to 180 hp)"
            },
            "altitude": {
                "repr": "055",
                "value": 55,
                "spoken": "five five"
            },
            "clouds": null,
            "flight_visibility": null,
            "icing": null,
            "location": {
                "repr": "2IS",
                "station": "2IS",
                "distance": null
            },
            "other": [],
            "sanitized": "IMM UA /OV 2IS/TM 2258/FL055/TP P28A/TB NEG BLO 055/RM DURC",
            "temperature": null,
            "turbulance": {
                "severity": "NEG",
                "floor": null,
                "ceiling": {
                    "repr": "055",
                    "value": 55,
                    "spoken": "five five"
                }
            },
            "type": "UA",
            "wx_codes": [],
            "meta": {
                "timestamp": "2019-05-27T21:22:48.875848Z"
            }
        }

## AIR / SIGMET [/airsigmet{?format,remove,filter,onfail}]

A SIGMET (Significant Meteorological Information) is a weather advisory for the safety of all aircraft. They are divided into:

- Convective - thunderstorms, hail, and cyclones
- Non-Convective - turbulence, icing, dust clouds, volcanic activity, and radiation

An AIRMET (Airman's Meteorological Information) is a weather advisory for smaller aircraft or VFR navigation. They are divided into:

- Sierra - IFR conditions like low ceilings and mountain obscuration
- Tango - turbulance and high surface winds
- Zulu - icing and freezing levels

Both types share a similar report format and therefore are combined into a single list. The bulletin and weather type can be used to classify each as a SIGMET or AIRMET for filtering purposes.

Filtering options are available for:

- Point searches (see AIR SIG Contains)
- Flight path intersects (see Report Routing)

+ Parameters
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`
    + onfail (string, optional) - Error or use out-of-date cache when unable to fetch report
        + Supported: `cache`, `error`
        + Default: `cache`

### Get AIR / SIGMET Report [GET]

Get all global AIRMET and SIGMET advisories.

+ Request (text/plain)

    + Headers

            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2022-03-31T07:17:21.905613Z",
                "stations_updated": "2022-03-30"
            },
            "reports": [
                {
                    "raw": "WAUS45 KKCI 310245 SLCT WA 310245 AIRMET TANGO FOR TURB VALID UNTIL 310900 AIRMET TURB...ID MT NV UT AZ WA OR CA AND CSTL WTRS FROM 60SW YQL TO 60N LKT TO 70WSW TWF TO 60NNE PGS TO 50ESE EED TO 20E MZB TO 20ESE SNS TO 90W OED TO 140W TOU TO 60SW YQL MOD TURB BTN FL250 AND FL380. CONDS CONTG BYD 09Z THRU 15Z.",
                    "sanitized": "WAUS45 KKCI 310245 SLCT WA 310245 AIRMET TANGO FOR TURB VALID UNTIL 310900 AIRMET TURB...ID MT NV UT AZ WA OR CA AND CSTL WTRS FROM 60SW YQL TO 60N LKT TO 70WSW TWF TO 60NNE PGS TO 50ESE EED TO 20E MZB TO 20ESE SNS TO 90W OED TO 140W TOU TO 60SW YQL MOD TURB BTN FL250 AND FL380 CONDS CONTG BYD 09Z THRU 15Z.",
                    "station": null,
                    "time": {
                        "repr": "310245",
                        "dt": "2022-03-31T02:45:00Z"
                    },
                    "remarks": null,
                    "bulletin": {
                        "repr": "WAUS45",
                        "type": {
                            "repr": "WA",
                            "value": "airmet"
                        },
                        "country": "US",
                        "number": 45
                    },
                    "issuer": "KKCI",
                    "correction": null,
                    "area": "SLC",
                    "type": "AIRMET TANGO FOR TURB",
                    "start_time": null,
                    "end_time": {
                        "repr": "310900",
                        "dt": "2022-03-31T09:00:00Z"
                    },
                    "body": "AIRMET TURB...ID MT NV UT AZ WA OR CA AND CSTL WTRS FROM 60SW YQL TO 60N LKT TO 70WSW TWF TO 60NNE PGS TO 50ESE EED TO 20E MZB TO 20ESE SNS TO 90W OED TO 140W TOU TO 60SW YQL MOD TURB BTN FL250 AND FL380 CONDS CONTG BYD 09Z THRU 15Z.",
                    "region": "<elip> ID MT NV UT AZ WA OR CA AND CSTL WTRS",
                    "observation": {
                        "type": {
                            "repr": "MOD TURB",
                            "value": "Moderate Turbulence"
                        },
                        "start_time": null,
                        "end_time": null,
                        "position": null,
                        "floor": {
                            "repr": "FL250",
                            "value": 250,
                            "spoken": "flight level two five zero"
                        },
                        "ceiling": {
                            "repr": "FL380",
                            "value": 380,
                            "spoken": "flight level three eight zero"
                        },
                        "coords": [
                            {
                                "lat": 48.92287840375436,
                                "lon": -113.74017840162536,
                                "repr": "60SW YQL"
                            },
                            {
                                "lat": 46.02110365927132,
                                "lon": -114.08399963378906,
                                "repr": "60N LKT"
                            },
                            {
                                "lat": 42.02410412509356,
                                "lon": -115.93523092435264,
                                "repr": "70WSW TWF"
                            },
                            {
                                "lat": 36.54897311612283,
                                "lon": -113.06907514278058,
                                "repr": "60NNE PGS"
                            },
                            {
                                "lat": 34.44299659740049,
                                "lon": -113.54309881420377,
                                "repr": "50ESE EED"
                            },
                            {
                                "lat": 32.781575906588024,
                                "lon": -116.82962082921186,
                                "repr": "20E MZB"
                            },
                            {
                                "lat": 36.53545245006972,
                                "lon": -121.22085871934948,
                                "repr": "20ESE SNS"
                            },
                            {
                                "lat": 42.46167689082834,
                                "lon": -124.93971922107896,
                                "repr": "90W OED"
                            },
                            {
                                "lat": 48.2468401459394,
                                "lon": -128.11931177158036,
                                "repr": "140W TOU"
                            },
                            {
                                "lat": 48.92287840375436,
                                "lon": -113.74017840162536,
                                "repr": "60SW YQL"
                            }
                        ],
                        "bounds": [],
                        "movement": null,
                        "intensity": null,
                        "other": [
                            "CONDS",
                            "CONTG",
                            "BYD",
                            "09Z",
                            "THRU",
                            "15Z"
                        ]
                    },
                    "forecast": null,
                    "units": {
                        "accumulation": "in",
                        "altimeter": "hPa",
                        "altitude": "ft",
                        "temperature": "C",
                        "visibility": "m",
                        "wind_speed": "kt"
                    }
                }
            ]
        }

## Parse AIR / SIGMET [/parse/airsigmet{?format,remove,filter}]

Parses an AIRMET or SIGMET report supplied by the user.

+ Parameters
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`

### Parse a Given AIR / SIGMET [POST]

Parse a user-supplied AIRMET or SIGMET included as the plain text body of the request.

+ Request (text/plain)

    + Headers

            Authorization: Token my_secret_api_token

    + Body

            WAUS41 KKCI 292045 BOST WA 292045 AIRMET TANGO UPDT 3 FOR TURB VALID UNTIL 300300 AIRMET TURB...ME NH VT MA RI CT NY NJ PA MD DE AND CSTL WTRS FROM 70NW PQI TO 60NE PQI TO 80SSW YSJ TO 60SSE ACK TO 60S ETX TO 50S MSS TO 20ESE YSC TO 70NW PQI MOD TURB BLW 080. CONDS CONTG BYD 03Z THRU 09Z.

+ Response 200 (application/json)

        {
            "raw": "WAUS41 KKCI 292045 BOST WA 292045 AIRMET TANGO UPDT 3 FOR TURB VALID UNTIL 300300 AIRMET TURB...ME NH VT MA RI CT NY NJ PA MD DE AND CSTL WTRS FROM 70NW PQI TO 60NE PQI TO 80SSW YSJ TO 60SSE ACK TO 60S ETX TO 50S MSS TO 20ESE YSC TO 70NW PQI MOD TURB BLW 080. CONDS CONTG BYD 03Z THRU 09Z.",
            "sanitized": "WAUS41 KKCI 292045 BOST WA 292045 AIRMET TANGO UPDT 3 FOR TURB VALID UNTIL 300300 AIRMET TURB...ME NH VT MA RI CT NY NJ PA MD DE AND CSTL WTRS FROM 70NW PQI TO 60NE PQI TO 80SSW YSJ TO 60SSE ACK TO 60S ETX TO 50S MSS TO 20ESE YSC TO 70NW PQI MOD TURB BLW 080. CONDS CONTG BYD 03Z THRU 09Z.",
            "station": null,
            "time": {
                "repr": "292045",
                "dt": "2022-03-29T20:45:00Z"
            },
            "remarks": null,
            "bulletin": {
                "repr": "WAUS41",
                "type": {
                    "repr": "WA",
                    "value": "airmet"
                },
                "country": "US",
                "number": 41
            },
            "issuer": "KKCI",
            "correction": null,
            "area": "BOS",
            "type": "AIRMET TANGO UPDT 3 FOR TURB",
            "start_time": null,
            "end_time": {
                "repr": "300300",
                "dt": "2022-03-30T03:00:00Z"
            },
            "body": "AIRMET TURB...ME NH VT MA RI CT NY NJ PA MD DE AND CSTL WTRS FROM 70NW PQI TO 60NE PQI TO 80SSW YSJ TO 60SSE ACK TO 60S ETX TO 50S MSS TO 20ESE YSC TO 70NW PQI MOD TURB BLW 080. CONDS CONTG BYD 03Z THRU 09Z.",
            "region": "<elip> ME NH VT MA RI CT NY NJ PA MD DE AND CSTL WTRS",
            "observation": {
                "type": {
                    "repr": "MOD TURB",
                    "value": "Moderate Turbulence"
                },
                "start_time": null,
                "end_time": null,
                "position": null,
                "floor": null,
                "ceiling": {
                    "repr": "080",
                    "value": 80,
                    "spoken": "eight zero"
                },
                "coords": [
                    {
                        "lat": 47.59233523833518,
                        "lon": -69.31332856013144,
                        "repr": "70NW PQI"
                    },
                    {
                        "lat": 47.476265450315495,
                        "lon": -67.0520903857819,
                        "repr": "60NE PQI"
                    },
                    {
                        "lat": 44.173213730414766,
                        "lon": -66.57972414026338,
                        "repr": "80SSW YSJ"
                    },
                    {
                        "lat": 40.35624404803827,
                        "lon": -69.5261383937499,
                        "repr": "60SSE ACK"
                    },
                    {
                        "lat": 39.58024645968407,
                        "lon": -75.68399810791016,
                        "repr": "60S ETX"
                    },
                    {
                        "lat": 44.08107958758354,
                        "lon": -74.72270202636719,
                        "repr": "50S MSS"
                    },
                    {
                        "lat": 45.310224949942636,
                        "lon": -71.25502369204965,
                        "repr": "20ESE YSC"
                    },
                    {
                        "lat": 47.59233523833518,
                        "lon": -69.31332856013144,
                        "repr": "70NW PQI"
                    }
                ],
                "bounds": [],
                "movement": null,
                "intensity": null,
                "other": [
                    "CONDS",
                    "CONTG",
                    "BYD",
                    "03Z",
                    "THRU",
                    "09Z"
                ]
            },
            "forecast": null,
            "meta": {
                "timestamp": "2022-03-31T01:43:51.454365Z",
                "stations_updated": "2022-03-30"
            }
        }

## AIR / SIGMET Contains [/airsigmet/{location}{?distance,format,remove,filter,onfail}]

Get AIRMET and SIGMET advisories that contain a station or coordinate inside the observation or forecast boundary polygon.

+ Parameters
    + location: `KJFK` (string) - ICAO & IATA station code or coordinate pair
        + Examples: `EGLL`, `51.47,-0.4`
    + format (string, optional) - Desired response format
        + Supported: `json`, `xml`, `yaml`
        + Default: `json`
    + remove (string, optional) - Remove unused keys from the response
        + Examples: `spoken,repr`, `runways`
    + filter (string, optional) - Only include these keys in the response
        + Examples: `sanitized`, `flight_rules,altimeter,value`
    + onfail (string, optional) - Error or use out-of-date cache when unable to fetch report
        + Supported: `cache`, `error`
        + Default: `cache`

### Get AIR / SIGMET Report [GET]

This example returns AIRMET and SIGMET advisories that apply to Orlando International.

+ Request (text/plain)

    + Headers

            Authorization: Token my_secret_api_token

+ Response 200 (application/json)

        {
            "meta": {
                "timestamp": "2022-04-10T01:15:17.093102Z",
                "stations_updated": "2022-04-09"
            },
            "point": {
                "lat": 27.988899,
                "lon": -82.018602,
                "repr": "KLAL"
            },
            "results": [
                {
                    "raw": "WAUS42 KKCI 092045 MIAT WA 092045 AIRMET TANGO UPDT 3 FOR TURB STG WNDS AND LLWS VALID UNTIL 100300 AIRMET TURB...GA FL AND CSTL WTRS FROM 50SW PZD TO 20WSW CRG TO 220SSE ILM TO 180E PBI TO 70ENE PBI TO 90E MIA TO 80WSW EYW TO 90WSW PIE TO 170W PIE TO 50SW PZD MOD TURB BTN FL240 AND FL390. CONDS CONTG BYD 03Z THRU 09Z.",
                    "sanitized": "WAUS42 KKCI 092045 MIAT WA 092045 AIRMET TANGO UPDT 3 FOR TURB STG WNDS AND LLWS VALID UNTIL 100300 AIRMET TURB...GA FL AND CSTL WTRS FROM 50SW PZD TO 20WSW CRG TO 220SSE ILM TO 180E PBI TO 70ENE PBI TO 90E MIA TO 80WSW EYW TO 90WSW PIE TO 170W PIE TO 50SW PZD MOD TURB BTN FL240 AND FL390 CONDS CONTG BYD 03Z THRU 09Z.",
                    "station": null,
                    "time": {
                        "repr": "092045",
                        "dt": "2022-04-09T20:45:00Z"
                    },
                    "remarks": null,
                    "bulletin": {
                        "repr": "WAUS42",
                        "type": {
                            "repr": "WA",
                            "value": "airmet"
                        },
                        "country": "US",
                        "number": 42
                    },
                    "issuer": "KKCI",
                    "correction": null,
                    "area": "MIA",
                    "type": "AIRMET TANGO UPDT 3 FOR TURB STG WNDS AND LLWS",
                    "start_time": null,
                    "end_time": {
                        "repr": "100300",
                        "dt": "2022-04-10T03:00:00Z"
                    },
                    "body": "AIRMET TURB...GA FL AND CSTL WTRS FROM 50SW PZD TO 20WSW CRG TO 220SSE ILM TO 180E PBI TO 70ENE PBI TO 90E MIA TO 80WSW EYW TO 90WSW PIE TO 170W PIE TO 50SW PZD MOD TURB BTN FL240 AND FL390 CONDS CONTG BYD 03Z THRU 09Z.",
                    "region": "GA FL AND CSTL WTRS",
                    "observation": {
                        "type": {
                            "repr": "MOD TURB",
                            "value": "Moderate Turbulence"
                        },
                        "start_time": null,
                        "end_time": null,
                        "position": null,
                        "floor": {
                            "repr": "FL240",
                            "value": 240,
                            "spoken": "flight level two four zero"
                        },
                        "ceiling": {
                            "repr": "FL390",
                            "value": 390,
                            "spoken": "flight level three nine zero"
                        },
[...]
