aiohttp~=3.4
avwx-engine>=1.0.8
dataclasses>=0.6;python_version<"3.7"
dicttoxml~=1.7
# flask-ask~=0.9
flask-assistant~=0.2
motor~=2.0
pyyaml~=3.13
quart~=0.6
quart-openapi>=1.3.10
voluptuous~=0.11
xmltodict~=0.11