git+https://github.com/avwx-rest/avwx-api-core@44b5c9138e8e53ccc45763bc8cd696c29febbaab

avwx-engine[all]==1.9.0
hypercorn~=0.17
python-dotenv~=1.0
rollbar~=1.0
typing_extensions~=4.12
voluptuous~=0.14