html, body {
	height:100%;
	background:center no-repeat fixed url('/static/img/airport-runway.jpg');
	background-size: cover;
}

.bg-dark {
	background-color: #4f68ae!important;
}

.navbar-brand > img:hover {
	opacity: 0.7;
}

section {
	padding-top:70px;
	padding-bottom:50px;
}

.bubble-full {
	min-height:calc(100% - 1px);
}

.v-center {
	padding-top:10%;
	font-size:70px;
}

.bubble {
	background-color: #f5f5f5;
	border: none;
	border-radius: 6px;
	margin: 10px;
	min-height: 20px;
	padding: 19px;
}

.bubble-clear {
	background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25));
	color: #ececec;
}

.bubble-grey {
	background-color: #e1e2e3;
	color: #335e9e;
}

.bubble-git {
	background-color: #e7e7e7;
	color: #333;
}

.card {
	margin: 4px;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4d5155;
    color: #f5f5f5;
}