/*
content-style.css

Michael duPont
*/

body {
    background-color: #e1e2e3
}

section {
    background-color: #fff;
}

.nav-spacer {
	margin-top: 50px;
	/*margin-bottom: 20px;*/
}

section h1, h2, h4 {
    color: #335e9e;
}

.well {
    background-color: #f1f2f3;
    border-color: #335e9e;
    padding: 13px;
}

.well h3 {
    margin-top: 0px;
    color: #335e9e;
}

.well p {
    margin-bottom: 0px;
}

.well-list {
    margin-left: -10px;
    margin-right: -10px;
}

.alert {
    background-color: #4a71c2
}

footer {
    margin-top: 12px;
    height: 8px;
}